[core]
    pager = delta
[include]
    path = ~/.gitconfig.aliases
[user]
    name = Arai Shota
    email = s.arai@hkn.jp
    signingkey = DD89CF3449C309E4!
[commit]
    gpgsign = true
[gpg]
    program = /opt/homebrew/bin/gpg
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[delta]
    navigate = true
    line-numbers = true
