set number
set keep-english-in-normal

""" Leader
let mapleader="\<SPACE>"

""" Training
noremap <Up> <Nop>
noremap <Down> <Nop>
noremap <Left> <Nop>
noremap <Right> <Nop>

""" Editing
set clipboard+=unnamed
set clipboard+=ideaput

""" Distraction Free Mode
nnoremap <Leader>td :action ToggleDistractionFreeMode<CR>

""" Navigation
nnoremap <TAB> :action PreviousTab<CR>
nnoremap <s-TAB> :action NextTab<CR>

nnoremap <Leader>q :action CloseContent<CR>

nnoremap <Leader>\ :action MoveTabRight<CR>
nnoremap <Leader>= :action Unsplit<CR>
nnoremap <Leader>m :action MoveEditorToOppositeTabGroup<CR>

""" Find
set incsearch
nnoremap <Leader>fs :action FileStructurePopup<CR>
nnoremap <Leader>fu :action FindUsages<CR>
nnoremap <Leader>fp :action SelectInProjectView<CR>
nnoremap <Leader>gf :action GotoFile<CR>
nnoremap <Leader>gc :action GotoClass<CR>
nnoremap <Leader>gs :action GotoSymbol<CR>
nnoremap <Leader>gt :action GotoTest<CR>
nnoremap <Leader>ge :action GotoNextError<CR>
nnoremap <Leader>d :action GotoDeclaration<CR>
nnoremap <Leader>l :action JumpToLastChange<CR>
nnoremap <Leader>h :action HighlightUsagesInFile<CR>

nnoremap <Leader>gb :action Git.Branches<CR>
nnoremap <Leader>gh :action Vcs.ShowHistoryForBlock<CR>
nnoremap <Leader>gv :action Vcs.QuickListPopupAction<CR>
nnoremap <Leader>ga :action Annotate<CR>
nnoremap <Leader>gd :action Github.Pull.Request.Review.In.Editor.Toggle<CR>
nnoremap <Leader>gp :action Github.Pull.Request.Show.In.Toolwindow<CR>

""" Editing
set ideajoin
set idearefactormode=keep
set scrolloff=10

nnoremap [ :action MethodUp<CR>
nnoremap ] :action MethodDown<CR>

nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

nnoremap <Leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <Leader>p :action ReformatCode<CR>
nnoremap <Leader>o :action ShowIntentionActions<CR>
nnoremap <Leader>w :action SaveAll<CR>
nnoremap <Leader>cr :action CopyReference<CR>
nnoremap <Leader>cg :action GitHub.Copy.Link<CR>

sethandler <C-j> a:vim
sethandler <C-k> a:vim
noremap <C-j> :action MoveLineDown<CR>
noremap <C-k> :action MoveLineUp<CR>

inoremap <C-p> <Up>
inoremap <C-n> <Down>
inoremap <C-b> <Left>
inoremap <C-f> <Right>

""" Bookmark
nnoremap <Leader>hl :action ShowBookmarks<CR>
nnoremap <Leader>ha :action ToggleBookmark<CR>

""" Plugins
Plug 'tpope/vim-surround'
Plug 'michaeljsmith/vim-indent-object'
Plug 'vim-scripts/argtextobj.vim'
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/ReplaceWithRegister'

Plug 'machakann/vim-highlightedyank'
let g:highlightedyank_highlight_duration = 1500

Plug 'easymotion/vim-easymotion'
map f <Plug>(easymotion-fl)
map t <Plug>(easymotion-tl)
map F <Plug>(easymotion-Fl)
map T <Plug>(easymotion-Tl)
map s <Plug>(easymotion-s2)
let g:EasyMotion_enter_jump_first = 1

Plug 'terryma/vim-multiple-cursors'
map <C-g> <A-n>
map <C-h> <A-p>

Plug 'preservim/nerdtree'
map <Leader>t :NERDTree<CR>
nnoremap <Leader>e :action SelectInProjectView<CR>
